$font-stack: Lato, sans-serif;
$primary-color: #F44336;
$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;
$accent-color: #00BCD4;

body {
  font-family: $font-stack;
}
form #header {
  text-align: center;
}
